/* Grid1.module.css */


@import '../../vars.css'; 

.container {
    background-color: var(--color-grid);
    padding: 20px;
    position: relative;
    border-radius: 20px;
    height: 200px;
}


.title {
    color: var(--color-txt);
}