@import "../../../vars.css";

.container {
    display: flex;
}

.msgBubbleUser {
    background-color: var(--color-userMsg);
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    word-wrap: break-word; /* Ensures long words will wrap */
    overflow-wrap: break-word; /* Wraps content if it exceeds container width */
    margin-left: auto;
    margin-right: 10px;
    border-radius: 20px;
    color: var(--color-txt);
    box-shadow: 5px, 5px, 5px;
}

.msgBubbleAI {
    background-color: var(--color-aiMsg);
    padding: 10px;
    margin-bottom: 10px;
    width: 40%;
    margin-right: auto;
    margin-left: 10px;
    border-radius: 20px;
    color: var(--color-txt);
}

.msgBubbleUser,
.msgBubbleAI {
    max-width: 100%; /* Ensures it doesn't overflow its parent */
}
