/* Grid2.module.css */
@import '../../vars.css'; 

.container {
    background-color: var(--color-grid);
    padding: 20px;
    position: relative;
    border-radius: 20px;
    height: 130px;
    margin-bottom: 15px;
}

.title {
    color: var(--color-orange);
    margin-left: 10px;
    font-size: 40px;
}

.notif {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.btnContainer {
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 8px;
    border-radius: 20px;
    background-color: var(--color-btn1);
    color: var(--color-txt);
    border: 0;
    font-size: 15px;
}

.btn:hover{
    background-color: var(--color-btn-pressed);
}

.icon {
    color: var(--color-orange);
    height: 50px;
    width: 50px;
}