@import "../../vars.css"; 

.container {
    background-color: var(--color-grid);
    padding: 20px;
    position: relative;
    border-radius: 20px;
    height: 500px;
}

.title {
    color: var(--color-txt);
    margin-bottom: 15px;
}

.msgContainer {
    background-color: var(--color-btn1);
    width: 100%;
    height: 90%;
    border-radius: 20px;
}