@import "../../vars.css"; 

.container {
    background-color: var(--color-grid);
    padding: 20px;
    position: relative;
    border-radius: 20px;
    height: 300px;
    margin-bottom: 15px;
}

.title {
    color: var(--color-txt);
}

.image {
    width: 200px; /*tmp just for smaller images to not break screen*/
    height: 150px; 
    object-fit: cover; 
    margin: 10px; 
}