@import "../../vars.css"; 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grid);
    padding: 20px;
    position: relative;
    border-radius: 20px;
    height: 350px;
    margin-bottom: 15px;
    width: 550px;
}

.title {
    color: var(--color-txt);
}

.imageGrid {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 10px;
}

.imageContainer {
    background-color: var(--color-btn1);
    height: 90%;
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 5px;
    margin-right: 5px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn {
    padding: 8px;
    border-radius: 20px;
    background-color: var(--color-btn1);
    color: var(--color-txt);
    border: 0;
    font-size: 15px;
}

.btn:hover{
    background-color: var(--color-btn-pressed);
}