@import "../../vars.css"; 

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--color-grid);
    padding: 20px;
    border-radius: 20px;
    height: 600px;
    margin-bottom: 15px;
}

.msgContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--color-orange);
    margin-bottom: 15px;
}
.inputContainer {
    position: relative;
    line-height: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.chatInputField {
    display: flex;
    height: 35px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    width: 95%;
    margin-bottom: 10px;
    background-color: var(--color-dark);
    border: 0;
    color: var(--color-txt);
    font-size: 15px;
}

.title {
    color: var(--color-txt);
    margin-bottom: 15px;
}

.msgContainer {
    background-color: var(--color-btn1);
    width: 100%;
    height: 90%;
    border-radius: 20px;
}