:root {
    --color-txt: #D2D2D2;
    --color-bg: #0E0A2A;
    --color-btn1: #535272; 
    --color-btn-pressed: #6F6F98;
    --color-grid: #2B2B48; 
    --color-orange: #C45508;
    --color-red: #ff2c2c;
}