@import "../../vars.css"; 

.container {
    background-color: var(--color-grid);
    padding: 20px;
    position: relative;
    border-radius: 20px;
    height: 300px;
}

.title {
    color: var(--color-txt);
}